<div class="footer">
    &copy; <span style="text-transform:uppercase;">РУП "Белэнергострой" - Договоры</span>   <span>@DateTime.Now.Year </span>@* <a asp-controller="Home" asp-action="Privacy">Документация</a> *@
</div>