<style>
    .info_modal-text {
        font-weight: bold;
    }
</style>


<div class="modal-content">
    <div class="modal-header">
        <h3>Подтверждение</h3>
        <button class="btn-close" data-bs-dismiss="modal" onclick="closeModal()" area-hidden="true"></button>
    </div>
    <div class="modal-body">
        <span>Вы действительно хотите удалить эту запись?</span>
    </div>
    <div class="modal-footer">
        <button id="modal-button-delete" type="button" class="btn btn-primary">Удалить</button>
    </div>
</div>

<script type="text/javascript">

    function closeModal() {
        $('#modDialog').modal('toggle');
    }
</script>