<div class="modal-content">
    <div class="modal-header">
        <h4>Подтверждение</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>        
    </div>
    <div class="modal-body">
        <span>Вы действительно хотите удалить эту запись?</span>
        <button id="modal-button-delete" type="button" class="btn btn-danger k-mr-2">Удалить</button>
    </div>
</div>