@model MvcLayer.Models.EstimateDocViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Добавить ПСД";
    int backId = 0;
    if (ViewBag.returnContractId == 0)
        backId = ViewBag.contractId;
    else backId = ViewBag.returnContractId;
    var contid = ViewBag.contractId;
    var contract = contid is not null && (int)contid > 0 ? Contract.GetById((int)contid) : null;
}


<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="max-width:960px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] для договора @contract?.Number</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action="Create" class="row" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input name="returnContractId" value="@ViewBag.returnContractId" hidden>
                    <input asp-for="ContractId" value="@contract?.Id" hidden>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Number" class="control-label"></label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        @if (ViewBag.Edit != null)
                        {
                            <div class="form-group">
                                <label asp-for="DateChange" class="control-label"></label>
                                <input asp-for="DateChange" type="datetime" class="form-control datepickers" />
                                <span asp-validation-for="DateChange" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group">
                            <label asp-for="DateOutput" class="control-label"></label>
                            <input asp-for="DateOutput" type="datetime" class="form-control datepickers" />
                            <span asp-validation-for="DateOutput" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        @if (ViewBag.Edit != null)
                        {
                            <div class="form-group">
                                <label asp-for="Reason" class="control-label"></label>
                                <textarea asp-for="Reason" class="form-control"></textarea>
                                <span asp-validation-for="Reason" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <input name="Reason" value="Первоночальная проектно-сметная документация договора" hidden />
                        }

                        <div class="form-group">
                            <label asp-for="FilesEntity" class="control-label"></label>
                            <input asp-for="FilesEntity" type="file" class="form-control" />
                            <span asp-validation-for="FilesEntity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Добавить" class="btn btn-primary col-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#checkActId").on("change", function () {
            let isChange = $(this).prop('checked');
            if (isChange === false) {
                $(this).attr("value", "false")
            }
            else {
                $(this).attr("value", "true")
            }
        });
    </script>
}

