tr-head-main-table {

}

.table-main {
    max-width: 2850px;
    font-family: "Gill Sans", sans-serif;
    table-layout: auto;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.25em;
}

table-main thead tr {
    display: block;
    position: relative;
}

table-main tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}

.table-main th {
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: -webkit-sticky;
    position: sticky;
    top: -3px;
    z-index: 2;
    background-color: lightgreen;
    text-align: center;
    vertical-align: middle;
}

.table-main td {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table_span-nameobject {
    width: 250px;
    display: inline-block;

}

.table_span-customer {
    width: 150px;
    display: inline-block;
}

.table_span-contractor {
    width: 100px;
    display: inline-block;
}


.table_span-avans {
    width: 50px;
    display: inline-block;
}

.table_span-currency {
    width: 40px;
    display: inline-block;
}
.table_span-material {
    width: 100px;
    display: inline-block;
}
.table_span-work {
    width: 200px;
    display: inline-block;
}