tr-head-main-table {

}

.table-main-short {
    max-width: 2850px;
    font-family: "Gill Sans", sans-serif;
    table-layout: auto;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.25em;
}

.table-main-full {
    font-family: "Gill Sans", sans-serif;
    table-layout: auto;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.25em;
}

table-main thead tr {
    display: block;
    position: relative;
}

table-main tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

.table-main th {
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: -webkit-sticky;
    position: sticky;
    top: -3px;
    z-index: 2;
    background-color: lightgreen;
    text-align: center;
    vertical-align: middle;
}

.table-main td {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table_span-nameobject {
    width: 250px;
    display: inline-block;

}

.table_span-customer {
    width: 150px;
    display: inline-block;
}

.table_span-contractor {
    width: 100px;
    display: inline-block;
}


.table_span-avans {
    width: 50px;
    display: inline-block;
}

.table_span-currency {
    width: 40px;
    display: inline-block;
}
.table_span-material {
    width: 100px;
    display: inline-block;
}
.table_span-work {
    width: 200px;
    display: inline-block;
}



.PartialTable{
    height: 100%;
}
.PartialTable th {
    background-color: #d8f5b1;
    border: 0.14rem solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    opacity: 0.9;
    position: inherit;
    display:none;
}

.PartialTable td {
    background-color: #a3fefb;
    border: 0.1rem solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    height: 30px;
    font-size: 0.9em
    
}

th.ActiveToggle {
    display: table-cell;
}

th.ActiveToggleInside {
    display: table-cell;
}