.flex-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container {
    flex-grow: 0;
}

.contracts-list {
    display: flex;
    padding-left: 0.5%;
}

    .contracts-list p {
        margin-right: 1%;
    }

.search-form__text {
    border-radius: 5px;
    background-color: #198754;
    color: #fff;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
}

.table-container {
    /*margin-bottom: 1%;*/
    flex-grow: 1;
}

.full-width {
    width: 99vw;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    max-height: 630px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    max-height: 69vh;
    display: flex;
}

.table-main-short {
    width: 100%;
    min-width: 1500px;
    font-family: 'Times New Roman';
    font-size: 16px;
    table-layout: auto;
    border-color: white;
    /*background-color: honeydew;*/
}

.table-main tr:nth-child(odd) {
    background-color: #ecf2f9;
}

.table-main tr:nth-child(even) {
    background-color: #abbac3;
};
    
}

.table-main-full {
    width: 100%;
    min-width: 1500px;
    max-width: 2500px;
    font-family: 'Times New Roman';
    font-size: 16px;
    table-layout: auto;
    /*border-color: olivedrab;*/
    background-color: honeydew;
}

table-main thead tr {
    display: block;
    position: relative;
}

table-main tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

.table-main th {
    overflow-wrap: break-word;
    word-wrap: break-word;
    position: -webkit-sticky;
    position: sticky;
    top: -3px;
    z-index: 99;
    background-color: #2d4156;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.table-main td {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table-main td, th {
    padding: 0.125em 0.5em 0.25em 0.5em;
    line-height: 1;
}

.table_span-numberanddate {
    width: 100px !important;
    display: inline-block;
}

.table_span-num {
    width: 20px !important;
    display: inline-block;
}

.table_span-nameobject {
    width: 190px;
    display: inline-block;
}

.table_span-customer {
    width: 150px;
    display: inline-block;
}

.table_span-subcontractor,
.table_span-deadlines {
    width: 100px;
    display: inline-block;
}

.table_span-subcontractor {
    width: 110px;
    display: inline-block;
}

.table_span-contractor {
    width: 140px;
    display: inline-block;
}

table a {
    text-decoration: none;
}

.table_span-estimate-doc,
.table_span-correspondence,
.table_span-act-renewal,
.table_span-avans,
.table_span-material,
.table_span-conditions,
.table_span-act-entering {
    width: 100px !important;
    display: inline-block;
}

.table_span-signer {
    width: 135px !important;
    display: inline-block;
}

.table_span-conditions {
    width: 160px !important;
    display: inline-block;
}

.table_span-month {
    width: 100px !important;
    display: inline-block;
}

.table_span-fin-source {
    width: 95px;
    display: inline-block;
}

.table_span-gen-service {
    width: 60px;
    display: inline-block;
}

.table_span-action {
    width: 75px;
    display: inline-block;
}
.table_span-action-main {
    width: 100px;
    display: inline-block;
}
.table_span-currency {
    width: 56px;
    display: inline-block;
}

.table_span-work {
    width: 120px;
    display: inline-block;
}

.table_span-contractprice {
    width: 100px;
    display: inline-block;
}

.table_span-realization,
.table_span-volume {
    width: 85px;
    display: inline-block;
}

.table_span-remains {
    width: 90px;
    display: inline-block;
}

.table_span-select-procedure {
    width: 85px;
    display: inline-block;
}

.table-th-background-color {
    background-color: #2d4156;    
    color: white;
}

.table-on-their-own {
    background-color: #a1ebb5 !important;
}

.PartialTable {
    height: 100%;
    width: 100%;
}

    .PartialTable th {
        background-color: #2d4156;
        border: 0.14rem solid;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: inherit;
        text-align: center;
        color: white;
    }

    .PartialTable td {
        text-align: right;
        height: 30px;
        font-size: 0.9em
    }       

.Partialtable-sticky-top {
    position: sticky !important;
    top: -2px;
    z-index: 4;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

/*стили для модального окна*/

.modal__container-button {
    width: 200px;
    margin-top: 2.4%;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

    .modal__container-button:hover {
        color: #fff;
        background-color: #0a58ca;
        border-color: #0a53be;
    }

.pages {
    display: table;
    padding-top: 10px;
    margin: auto;
}

.span-month-double {
    width: 100px !important;
    display: inline-block;
}

span-50-per {
    width: 50%;
    display: inline-block;
}

.full-width-details {
    width: 99vw;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    min-height: 630px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    max-height: 80vh;
}

@media (min-height: 1000px) {
    .full-width-details {
        max-height: 75vh;
    }

    .full-width {
        max-height: 75vh;
    }
}

@media (man-height: 1200px) {
    .full-width-details {
        max-height: 80vh;
    }
}

.up::after {
    content: "▲";
}

.down::after {
    content: "▼";
}

.up-down-active::after {
    color: red;
}


.table-hover > tbody > tr:hover {
    color: #212529;
    --bs-table-accent-bg: #b9b6b6d6;
}


.cont-table {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.table{
    margin-bottom: 1px !important;
}
