@model MvcLayer.Models.ContractViewModel
@{
    int index = 0;
    int indexFS = 0;
}
<div data-bs-backdrop="static" id="staticBackdrop" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="false">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Новая организация</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("AddNewOrganization","Contracts")" method="post" id="theFormOrg" style="padding-right: 20px; padding-left: 20px; width:350px;">
                     <input asp-for="IsSubContract" hidden />
                    <input asp-for="SubContractId" type="number" hidden />
                    <input asp-for="IsAgreementContract" hidden />
                    <input asp-for="AgreementContractId" hidden />
                    <input asp-for="IsEngineering" hidden />

                    <input asp-for="Date" type="datetime" hidden/>
                    <input asp-for="Number" hidden />
                    <input asp-for="FundingSource"  hidden />
                    <input asp-for="NameObject" hidden />
                    <input asp-for="EmployeeContracts[0].EmployeeId" hidden />
                    <input asp-for="EmployeeContracts[1].EmployeeId" hidden />
                    <input asp-for="ContractOrganizations[0].OrganizationId" type="number" hidden />
                    <input asp-for="ContractOrganizations[1].OrganizationId" type="number" hidden />
                    <input asp-for="ContractOrganizations[2].OrganizationId" type="number" hidden />
                    <input asp-for="DateBeginWork" type="date" class="form-control" hidden>
                    
                    <input asp-for="DateEndWork" type="date" hidden>                   
                    <input asp-for="EnteringTerm" type="date" hidden>                    
                    <input asp-for="ContractTerm" type="date" hidden>
                    <input asp-for="ContractPrice" hidden />
                    <input asp-for="Сurrency" hidden />
                    <input asp-for="TypeWorkContracts[0].TypeWorkId" hidden />
                    
                    @foreach (var item in Model.PaymentCA)
                    {
                        <input asp-for="PaymentCA[index]" hidden />
                        index++;
                    }
                    @foreach (var item in Model.FundingFS)
                    {
                        <input asp-for="FundingFS[indexFS]" hidden />
                        indexFS++;
                    }

                    <input asp-for="PaymentСonditionsDaysRaschet" hidden />
                    <input asp-for="PaymentСonditionsRaschet" hidden />
                    <input asp-for="SelectionProcedures[0].TypeProcedure" hidden />



                    <div class="form-group">
                        <label asp-for="ContractOrganizations[3].Organization.Name" class="control-label">Полное название</label>
                        <input asp-for="ContractOrganizations[3].Organization.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractOrganizations[3].Organization.Abbr" class="control-label">Аббревиатура</label>
                        <input asp-for="ContractOrganizations[3].Organization.Abbr" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractOrganizations[3].Organization.Unp" class="control-label">УНП организации</label>
                        <input asp-for="ContractOrganizations[3].Organization.Unp" class="form-control" />
                    </div> 
                    <div class="form-group">
                        <label asp-for="ContractOrganizations[3].Organization.Email" class="control-label">Электронная почта</label>
                        <input asp-for="ContractOrganizations[3].Organization.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractOrganizations[3].Organization.PaymentAccount" class="control-label">Расчетный счет</label>
                        <input asp-for="ContractOrganizations[3].Organization.PaymentAccount" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractOrganizations[3].Organization.Addresses[0].FullAddress" class="control-label">Адрес</label>
                        <input asp-for="ContractOrganizations[3].Organization.Addresses[0].FullAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ContractOrganizations[3].Organization.Addresses[0].PostIndex" class="control-label">Почтовый индекс</label>
                        <input asp-for="ContractOrganizations[3].Organization.Addresses[0].PostIndex" class="form-control" />
                    </div>
                    <button class="btn btn-primary mt-3" type="submit" id="submitForm">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('button.btn-close').click(function () {
        $('#modDialog4').modal('hide');
    });   

</script> 