@model MvcLayer.Models.ContractViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IOrganizationService Organization
@{
    int index = 0;
    int indexFS = 0;
}
<div data-bs-backdrop="static" id="staticBackdrop" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="false">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Новый сотрудник</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("AddNewEmployee","Contracts")" method="post" id="theFormEmp" style="padding-right: 20px; padding-left: 20px; width:350px;">
                  
                    <input asp-for="IsSubContract" hidden />
                    <input asp-for="SubContractId" type="number" hidden />
                    <input asp-for="Date" type="datetime" hidden />
                    <input asp-for="Number" hidden />
                    <input asp-for="FundingSource" hidden />
                    <input asp-for="NameObject" hidden />
                    <input asp-for="EmployeeContracts[0].EmployeeId" hidden />
                    <input asp-for="EmployeeContracts[1].EmployeeId" hidden />
                    <input asp-for="ContractOrganizations[0].OrganizationId" type="number" hidden />
                    <input asp-for="ContractOrganizations[1].OrganizationId" type="number" hidden />
                    <input asp-for="DateBeginWork" type="date" class="form-control" hidden>

                    <input asp-for="DateEndWork" type="date" hidden>
                    <input asp-for="EnteringTerm" type="date" hidden>
                    <input asp-for="ContractTerm" type="date" hidden>
                    <input asp-for="ContractPrice" hidden />
                    <input asp-for="Сurrency" hidden />

                    @foreach (var item in Model.PaymentCA)
                    {
                        <input asp-for="PaymentCA[index]" hidden />
                        index++;
                    }
                    @foreach (var item in Model.FundingFS)
                    {
                        <input asp-for="FundingFS[indexFS]" hidden />
                        indexFS++;
                    }

                    <input asp-for="PaymentСonditionsDaysRaschet" hidden />
                    <input asp-for="PaymentСonditionsRaschet" hidden />
                    <input asp-for="SelectionProcedures[0].TypeProcedure" hidden />    
                    <input asp-for="TypeWorkContracts[0].TypeWorkId" hidden />


                    <div class="form-group">
                        <label asp-for="EmployeeContracts[2].Employee.LastName" class="control-label">Фамилия</label>
                        <input asp-for="EmployeeContracts[2].Employee.LastName" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeContracts[2].Employee.FirstName" class="control-label">Имя</label>
                        <input asp-for="EmployeeContracts[2].Employee.FirstName" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeContracts[2].Employee.FatherName" class="control-label">Отчество</label>
                        <input asp-for="EmployeeContracts[2].Employee.FatherName" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Организация</label>
                        <select name="EmployeeContracts[2].Employee.DepartmentEmployees[0].OrganizationId" id="organizationNameSelect" class="form-control js-chosen">
                            <option disabled selected>Выберите организацию</option>
                            @foreach (var item in Organization.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Отдел</label>
                        <select asp-for="EmployeeContracts[2].Employee.DepartmentEmployees[0].DepartmentId" id="departmentNameSelect"  class="form-control js-chosen">
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeContracts[2].Employee.Position" class="control-label">Должность</label>
                        <input asp-for="EmployeeContracts[2].Employee.Position" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeContracts[2].Employee.Email" class="control-label">Электронная почта</label>
                        <input asp-for="EmployeeContracts[2].Employee.Email" class="form-control" required/>
                    </div> 
                    <div class="form-group">
                        <label asp-for="EmployeeContracts[2].Employee.Phones[0].Number" class="control-label">Телефон</label>
                        <input asp-for="EmployeeContracts[2].Employee.Phones[0].Number" class="form-control" required />
                    </div>
                    <button class="btn btn-primary mt-3" type="submit" id="submitForm2">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('button.btn-close').click(function () {
        $('#modDialog2').modal('hide');
    }); 
    
    $("#organizationNameSelect").change(function () { 
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetJsonDepartments","Departments")',
            dataType: 'json',
            data: { id: $("#organizationNameSelect").val() },
            success: function (department) {
                if (department.length == 0)
                    return;

                $("#departmentNameSelect").append('<option disabled selected>Выберите отдел</option>');
                $.each(department, function (r, emp) {
                    $("#departmentNameSelect").append('<option value="' + emp.id + '">' + emp.name + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve departments.' + ex);
            }
        });
    });
</script> 