@using BusinessLayer.Enums
@using BusinessLayer.Models
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.CommonInterfaces.IConverter Convertor

@{
    ContractDTO contract = Contract.GetById(ViewBag.ContrId);
    ViewData["Title"] = "Передать права на договор организации";
}
<style>
    .dm-modal {
        background-color: lightsteelblue;
    }

    .close-btn {
        color: red
    }

        .close-btn::after {
            border: 2px solid #F00 !important;
        }

        .close-btn:hover::after {
            border-color: red !important;
            color: red !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            font-weight: bold;
        }
</style>

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-action="Index" asp-controller="Contracts" class="close-btn"></a>
                </div>
                <hr class="modal-line" />
                <form asp-action="ChangeOwner" class="row align-items-center" style="max-width:700px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input name="contrId" type="number" value="@ViewBag?.ContrId" hidden>
                    <div class="row">
                        @if (contract is not null)
                        {
                            <div class="">
                                <label class="control-label mb-3">От</label>
                                <div>
                                    <span style="font-weight:600;text-transform:uppercase;">@Convertor?.GetNameOrganizationByCode(contract.Owner)</span>
                                </div>
                            </div>
                            <div class="col-12 mb-4">
                                <label class="control-label mb-3">Кому</label>
                                <select name="codeName" class="form-control js-chosen">

                                    @foreach (var item in Enum.GetValues<OrganizationEnum>())
                                    {
                                        string code = item.ToString();
                                        var name = Convertor.GetNameOrganizationByCode(item.ToString());
                                        if (!contract.Owner.Equals(item.ToString(), StringComparison.OrdinalIgnoreCase))
                                        {                                           
                                            <option value="@code">@name</option>
                                        }
                                    }

                                </select>
                            </div>
                        }
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary col-12" value="Сохранить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>