.file-icon {
    display: inline-block;
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 13.5px;
}

.img-file {
    background-image: url(../Images/Kendo_Icon/jpg.png)
}

.doc-file {
    background-image: url(../Images/Kendo_Icon/doc.png)
}

.pdf-file {
    background-image: url(../Images/Kendo_Icon/pdf.png)
}

.xls-file {
    background-image: url(../Images/Kendo_Icon/xls.png)
}

.zip-file {
    background-image: url(../Images/Kendo_Icon/zip.png)
}

.default-file {
    background-image: url(../Images/Kendo_Icon/default.png)
}

#example .file-heading {
    font-family: Arial;
    font-size: 1.1em;
    display: inline-block;
    float: left;
    width: 80%;
    margin: 0 0 0 20px;
    height: 25px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#example .file-name-heading {
    font-weight: bold;
    margin-top: 20px;
}

#example .file-size-heading {
    font-weight: normal;
    font-style: italic;
}

li.k-file div.file-wrapper {
    position: relative;
    height: 65px;
    width: 100%;
}
