@model MvcLayer.Models.FormViewModel
@{
    ViewData["Title"] = "Редактирование";
}

<h1>@ViewData["Title"]</h1>

<h4>Справка формы C-3a</h4>
<hr />
<div class="row">
    <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
        <div class="form-group col-6">
                <label asp-for="Period" class="control-label"></label>
            <input asp-for="Period" type="date" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="DateSigning" class="control-label"></label>
            <input asp-for="DateSigning" type="date" class="form-control" />
                <span asp-validation-for="DateSigning" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="TotalCost" class="control-label"></label>
            <input asp-for="TotalCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="SmrCost" class="control-label"></label>
            <input asp-for="SmrCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="SmrCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="PnrCost" class="control-label"></label>
            <input asp-for="PnrCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="PnrCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="EquipmentCost" class="control-label"></label>
            <input asp-for="EquipmentCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="EquipmentCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="OtherExpensesCost" class="control-label"></label>
            <input asp-for="OtherExpensesCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="OtherExpensesCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="AdditionalCost" class="control-label"></label>
            <input asp-for="AdditionalCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="AdditionalCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="MaterialCost" class="control-label"></label>
            <input asp-for="MaterialCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="MaterialCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="GenServiceCost" class="control-label"></label>
            <input asp-for="GenServiceCost" class="form-control" type="number" step="0.001" min="0" />
                <span asp-validation-for="GenServiceCost" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
        <div class="form-group col-6">
                <label asp-for="IsOwnForces" class="control-label"></label>
                <input asp-for="IsOwnForces" class="form-control" />
                <span asp-validation-for="IsOwnForces" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <select asp-for="ContractId" class="form-control" asp-items="ViewBag.ContractId"></select>
                <span asp-validation-for="ContractId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

