@model MvcLayer.Models.PeriodChooseViewModel ///???????
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IAmendmentService Amendment
@inject BusinessLayer.Interfaces.ContractInterfaces.IScopeWorkService Scope
@{
    ViewData["Title"] = "ChoosePeriod";
}

<h1>ChoosePeriod</h1>

