@model MvcLayer.Models.AmendmentViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Create";
}

<h4>Изменения</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractPrice" class="control-label"></label>
                <input asp-for="ContractPrice" class="form-control" />
                <span asp-validation-for="ContractPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateBeginWork" class="control-label"></label>
                <input asp-for="DateBeginWork" class="form-control" type="date" />
                <span asp-validation-for="DateBeginWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndWork" class="control-label"></label>
                <input asp-for="DateEndWork" class="form-control" type="date" />
                <span asp-validation-for="DateEndWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEntryObject" class="control-label"></label>
                <input asp-for="DateEntryObject" class="form-control" type="date" />
                <span asp-validation-for="DateEntryObject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractChanges" class="control-label"></label>
                <input asp-for="ContractChanges" class="form-control"/>
                <span asp-validation-for="ContractChanges" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="ContractId" class="control-label">Договор</label>
                <select asp-for="ContractId" class="form-control">
                    <option selected></option>
                    @foreach (var item in Contract.GetAll())
                    {
                        <option value="@item.Id">@item.Number</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
