@using BusinessLayer.Models
@model List<AmendmentDTO>;
@{
    ViewData["Title"] = "Редактирование плановых авансов";
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];
}
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <div id="ContentCreate">
                    <select>
                        <option selected disabled>Выберите версию</option>
                        <option>Контракт</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">Дополнительное соглашение №@item.Number</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">

    </script>
}