@model MvcLayer.Models.MaterialViewModel
@{
    ViewData["Title"] = "Добавление стоимости материалов по факту";
}
<style>
        .btn_block {
            display: flex;
            justify-content: right;
        }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="max-width:700px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (Model?.ContractId != null && Model?.ContractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.ContractId" class="close-btn"></a>
                    }
                    @if (Model?.ContractId == null || Model?.ContractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />

                <form asp-action="Edit" class="row" enctype="multipart/form-data">
                    <input asp-for="Id" value="@Model?.Id" hidden />
                    <input asp-for="ContractId" value="@Model?.ContractId" hidden />
                    <input asp-for="IsFact" value="true" hidden />
                    
                    <input asp-for="ChangeMaterialId" value="@Model.ChangeMaterialId" hidden />

                    <input asp-for="MaterialCosts[0].IsFact" value="true" hidden />
                    <input asp-for="MaterialCosts[0].MaterialId" value="@Model?.Id" hidden />
                    <input asp-for="MaterialCosts[0].Period" value="@Model?.Period" type="date" hidden />

                    <div class="form-group col-12">
                        <label class="control-label">Период</label>
                        <input asp-for="MaterialCosts[0].Period" value="@Model?.Period?.ToString("MMMM yyyy")" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group col-12">
                        <label for="MaterialCosts[0].Price" class="control-label">Фактическая стоимость</label>
                        <input name="MaterialCosts[0].Price" type="text" class="form-control cost" />

                    </div>
                    <div class="form-group mt-3 btn_block">
                        <input type="submit" value="Добавить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
        <script>
            $(function ($) {
                var allCost = $(".cost")
                for (let el of allCost) {
                    digits_float(el)
                }
                $('body').on('input', '.cost', function (e) {
                    digits_float(this);
                });
            });
        </script> 
}