@using OfficeOpenXml
@model IEnumerable<ExcelWorksheet>
@if (Model.Count() > 2)
{
    <label class="control-label">Страница в файле Excel:</label>
    <select name="page" id="ex" class="form-select">
        @foreach (var item in Model)
        {
            <option value="@item.Index">
                <span>
                    @item.Name
                </span>
            </option>
        }
    </select>
}
else if (Model.Count() == 1)
{
    <select name="page" id="ex" class="form-select" hidden>
        <option selected value="@Model.FirstOrDefault().Index">
            <span>
                @Model.FirstOrDefault().Name
            </span>
        </option>
    </select>
}

<button id="GetDataFromFile" class="mt-3 btn btn-primary" type="button">Извлечь данные</button>