@model MvcLayer.Models.PeriodChooseViewModel
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IAmendmentService Amendment
@inject BusinessLayer.Interfaces.ContractInterfaces.IServiceGCService ServiceGC

@{
    ViewData["Title"] = "Выбрать период или изменение к договору";
}

<style>
    .title-warning {
        display: flex;
        justify-content: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.34px;
        border: solid #e83c14 1px;
        border-radius: 5px;
    }

    label {
        margin: 10px auto;
    }

    #target {
        margin: 100px auto;
        width: 50%;
    }

    #chooseAmendment {
        margin: 0 auto 30px auto;
    }
</style>

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="width: 850px; height:440px">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (@Model?.ContractId != null && @Model?.ContractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.ContractId" class="close-btn"></a>
                    }
                    @if (@Model?.ContractId == null || @Model?.ContractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form id="target" asp-action="CreatePeriods" class="row" method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
                    <input asp-for="ContractId" value="@Model?.ContractId" hidden />
                    <input asp-for="ChangeServiceId" value="@Model?.ChangeServiceId" hidden />
                    <input asp-for="IsChange" value="@Model?.IsChange" hidden />
                    <input asp-for="IsFact" value="@Model?.IsFact" hidden />
                    <input asp-for="PeriodStart" type="datetime" value="@Model?.PeriodStart" hidden />
                    <input asp-for="PeriodEnd" type="datetime" value="@Model?.PeriodEnd" hidden />

                    <div class="form-group col-12">
                        <div class="title-warning"><span>Услуги для данного договора заполнены</span></div>
                        <label for="amendCheck">Внести изменения в услуги по доп.соглашению?</label>
                        <input type="checkbox" id="amendCheck" name="IsChange" value="false" />
                    </div>
                    <div id="chooseAmendment" class="row" hidden>
                        <div class="form-group">
                            <label class="control-label">Выбрать доп.соглашение</label>
                            <select name="AmendmentId" id="AmendId" class="form-control select">
                                <option disabled selected>Выберите</option>
                                @foreach (AmendmentDTO org in Amendment.Find(x => x.ContractId == Model?.ContractId && x.ContractId != null))
                                {
                                    <option value="@org.Id">Номер: @org.Number - Изменено: @org.ContractChanges</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $("#AmendId").on("change", function () {
            $("#target").trigger("submit");
        });


        $("#amendCheck").on("change", function () {

            let isChange = $(this).prop('checked');
            let besInput = document.querySelector("#chooseAmendment");

            if (besInput.hidden != true) {
                besInput.hidden = true;
            }
            else {
                besInput.hidden = null;
            }

            if (isChange === false) {
                $(this).attr("value", "false")
            }
            else {
                $(this).attr("value", "true")
            }
        });

        $(document).ready(function () {

            datepickerNull("input.datepickersNull");
            dateTimepicker("input.datetimepickers");
            datepicker("input.datepickers");
        });
    </script>

}