@using MvcLayer.Models;
@using Newtonsoft.Json;
@model MvcLayer.Models.ServiceGCViewModel

@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Услуги генподрядчика";
    int index = 0;
    var d = new ServiceGCViewModel();

    if (TempData["serviceGC"] is string s)
    {
        d = JsonConvert.DeserializeObject<ServiceGCViewModel>(s);
    }

    bool isFact = d?.ServiceCosts?.FirstOrDefault()?.IsFact == true ? true : false;

    int contrId = d?.ContractId is not null && d.ContractId > 0 ? (int)d?.ContractId : 0;
    var contract = Contract.GetById(contrId);
}
<style>
    .cont-table {
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 250px;
    }
</style>

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] согласно договора @contract?.Number</label>
                    @if (@contract?.Id != null && @contract?.Id > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract?.Id" class="close-btn"></a>
                    }
                    @if (@contract?.Id == null || @contract?.Id == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action="Create" class="row">
                    <div class="cont-table">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Процент генуслуг</th>
                                <td>
                                    @Model.ServicePercent
                                    <input asp-for="ServicePercent" class="form-control" type="number" step="0.01" min="0" max="100"/>
                                </td>
                            </tr>
                            <tr>

                                <th>Период</th>
                                @foreach (var item in d.ServiceCosts)
                                {
                                    <td>
                                        @item.Period?.ToString("MMM yyyy")
                                        <input asp-for="ServiceCosts[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                    </td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>                           
                            <tr>
                                <th>Сумма генуслуг</th>
                                @foreach (var item in d.ServiceCosts)
                                {
                                    <td><input name="ServiceCosts[@index].Price" class="form-control cost" type="text"/></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            @foreach (var item in d.ServiceCosts)
                            {
                                <input asp-for="AmendmentId" hidden />
                                <input asp-for="ContractId" hidden />
                                <input asp-for="IsChange" hidden />
                                <input asp-for="ChangeServiceId" hidden />
                            }

                        </table>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function ($) {
            var allCost = $(".cost")
            for (let el of allCost) {
                digits_float(el)
            }
            $('body').on('input', '.cost', function (e) {
                digits_float(this);
            });
        });
    </script>
}