@using MvcLayer.Models;
@using Newtonsoft.Json;
@model MvcLayer.Models.ScopeWorkViewModel

@{
    ViewData["Title"] = "Объем работ";
    int index = 0;

    var d = new ScopeWorkViewModel();
    if (TempData["scopeW"] is string s)
    {
        d = JsonConvert.DeserializeObject<ScopeWorkViewModel>(s);
    }
}

<style>
    .cont-table {
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 250px;
    }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (Model?.ContractId != null && Model?.ContractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.ContractId" class="close-btn"></a>
                    }
                    @if (Model?.ContractId == null || Model?.ContractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" style="width:980px" />
                <form asp-action="Create" class="row">
                    <div class="cont-table">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Период</th>
                                @foreach (var item in d.SWCosts)
                                {
                                    <td>
                                        @item.Period?.ToString("MMM yyyy")
                                        <input asp-for="SWCosts[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                    </td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>                            
                            <tr>
                                <th>Стоимость СМР</th>
                                @foreach (var item in d.SWCosts)
                                {
                                    <td class="text-end"><input name="SWCosts[@index].SmrCost" type="text" class="form-control costs_contract cost" value=""/></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>Стоимость ПНР</th>
                                @foreach (var item in d.SWCosts)
                                {
                                    <td class="text-end"><input name="SWCosts[@index].PnrCost" class="form-control cost" value="" data-autonumeric /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>Стоимость оборудования</th>
                                @foreach (var item in d.SWCosts)
                                {
                                    <td class="text-end"><input name="SWCosts[@index].EquipmentCost" class="form-control cost" value="" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>Стоимость прочих работ и услуг</th>
                                @foreach (var item in d.SWCosts)
                                {
                                    <td class="text-end"><input name="SWCosts[@index].OtherExpensesCost" class="form-control cost" value="" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>Стоимость доп. работ</th>
                                @foreach (var item in d.SWCosts)
                                {
                                    <td class="text-end"><input name="SWCosts[@index].AdditionalCost" class="form-control cost" value="" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>Стоимость материалов заказчика (справочно)</th>
                                @foreach (var item in d.SWCosts)
                                {
                                    <td class="text-end"><input name="SWCosts[@index].MaterialCost" class="form-control cost" value="" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            @foreach (var item in d.SWCosts)
                            {
                                <input asp-for="SWCosts[index].IsOwnForces" hidden />
                                index++;
                            }

                            <input asp-for="ContractId" hidden />
                            <input asp-for="IsOwnForces" hidden />
                            <input asp-for="IsChange" hidden />
                            <input asp-for="AmendmentId" hidden />
                            <input asp-for="ChangeScopeWorkId" hidden />
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
       
    } 
    <script>
        $(function ($) {
            $('body').on('input', '.cost', function (e) {
                digits_float(this);
            });
            digits_float('.cost');
        });        
    </script>
}
