@model MvcLayer.Models.ActViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Добавить акт приостановки/возобновления";
    var contid = ViewBag.contractId;
    var contract = contid is not null && (int)contid > 0 ? Contract.GetById((int)contid) : null;
}
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="max-width:960px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] для договора @contract?.Number</label>
                    @if (@contid != null && @contid > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contid" class="close-btn"></a>
                    }
                    @if (@contid == null || @contid == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action="Create" class="row" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ContractId" value="@contract?.Id" hidden>
                    <div class="form-group col-6">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateAct" class="control-label"></label>
                        <input asp-for="DateAct" class="form-control datepickers" type="datetime" />
                        <span asp-validation-for="DateAct" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateSuspendedFrom" class="control-label"></label>
                        <input asp-for="DateSuspendedFrom" class="form-control datepickers" type="datetime" />
                        <span asp-validation-for="DateSuspendedFrom" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateSuspendedUntil" class="control-label"></label>
                        <input asp-for="DateSuspendedUntil" class="form-control datepickers" type="datetime" />
                        <span asp-validation-for="DateSuspendedUntil" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateRenewal" class="control-label"></label>
                        <input asp-for="DateRenewal" class="form-control datepickers" type="datetime" />
                        <span asp-validation-for="DateRenewal" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label>Приостановлено?</label>
                        <input name="IsSuspension" id="checkActId" type="checkbox" />
                    </div>                    
                    <div class="form-group col-6">
                        <label asp-for="FilesEntity" class="control-label"></label>
                        <input name="FilesEntity" type="file" class="form-control" />                        
                    </div>
                    <div class="form-group mt-3">
                        <a class="btn btn-success" asp-controller="Contracts" asp-action="Details" asp-route-id="@contract?.Id">Вернуться</a>
                        <input type="submit" value="Добавить" class="btn btn-primary col-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#checkActId").on("change", function () {
            let isChange = $(this).prop('checked');
            if (isChange === false) {
                $(this).attr("value", "false")
            }
            else {
                $(this).attr("value", "true")
            }
        });
    </script>
}

