@model MvcLayer.Models.ActViewModel

@{
    ViewData["Title"] = "Редактирование";
}


<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="max-width:960px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (Model?.ContractId != null && @Model?.ContractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.ContractId" class="close-btn"></a>
                    }
                    @if (@Model?.ContractId == null || @Model?.ContractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <div class="row">
                    <form asp-action="Edit" class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input asp-for="ContractId" value="@Model?.ContractId" hidden>

                        <div class="form-group col-6">
                            <label asp-for="Reason" class="control-label"></label>
                            <input asp-for="Reason" class="form-control" />
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="DateAct" class="control-label"></label>
                            <input asp-for="DateAct" class="form-control datepickers" type="datetime" />
                            <span asp-validation-for="DateAct" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="DateSuspendedFrom" class="control-label"></label>
                            <input asp-for="DateSuspendedFrom" class="form-control datepickers" type="datetime" />
                            <span asp-validation-for="DateSuspendedFrom" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="DateSuspendedUntil" class="control-label"></label>
                            <input asp-for="DateSuspendedUntil" class="form-control datepickers" type="datetime" />
                            <span asp-validation-for="DateSuspendedUntil" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="DateRenewal" class="control-label"></label>
                            <input asp-for="DateRenewal" class="form-control datepickers" type="datetime" />
                            <span asp-validation-for="DateRenewal" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="control-label">Приостановлено?</label>
                            <input name="IsSuspension" type="checkbox" id="checkActId" />
                        </div>
                       

                        <div class="form-group">
                            <a class="btn btn-secondary mt-3" asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.ContractId">Вернуться</a>
                            <input type="submit" value="Сохранить" class="btn btn-primary col-3 mt-3" />
                        </div>                       
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $("#checkActId").on("change", function () {
            let isChange = $(this).prop('checked');           
            if (isChange === false) {
                $(this).attr("value", "false")
            }
            else {
                $(this).attr("value", "true")
            }
        });
    </script>
}